/unity/.vs
/unity/Logs
/unity/Library
/unity/obj
/unity/Assets/Sprites/BG.psd
unity/Assets/HolyShift
/unity/etc
/unity/Temp
/unity/UserSettings
/unity/Library
/unity/Progress_Data
/unity/Progress.exe
/unity/SaveImages
/unity/UnityPlayer.dll
/unity/Assets/nu Assets
/unity/Assets/Gizmos
/unity/Assets/Editor Default Resources
/unity/Assets/ExplosiveLLC
/unity/Assets/Raw Mocap Data
/unity/Assets/MORPH3D
/unity/Assets/StreamingAssets
/unity/Assets/Stones_and_buried_treasure
/unity/Assets/External
/unity/Assets/Best HTTP (Pro)
/server/node_modules
/server/package-lock.json
/server/private.js
/server/mongoexport.bat
/server/dump
*.meta
/wiki
