/.vs
/Library_
/obj_
/Assets/Sprites/BG.psd
/etc
/Temp
/Library
/Progress_Data
/Progress.exe
/UnityPlayer.dll
/Assets/nu Assets
/Assets/Gizmos
/Assets/Editor Default Resources
/Assets/Raw Mocap Data
/Assets/MORPH3D
/Assets/StreamingAssets
/Assets/Stones_and_buried_treasure
/Assets/External
/server/node_modules
/server/package-lock.json
/server/private.js
/server/mongoexport.bat
/server/dump
*.meta
